<div class = "mycontainer">
  <header class = "header">
    <img src="image/logo.png" alt="logo">
    <h1>Coforge Technologies ☠️</h1>
  </header>

  

  <nav class = "mynav">
    <ul>
      <li><a routerLink = "/">Home</a></li>
      <li><a routerLink = "/emp">Data Binding</a></li>
      <li><a routerLink = "/pipe">Pipes</a></li>
      <li><a routerLink = "/about">About us</a></li>
      <li><a routerLink = "/login">Login</a></li>
      <li><a routerLink = "/team">Team Works</a></li>
      <li><a routerLink = "/par">Communication</a></li>
      <!-- <li><a routerLink = "/contact">Contact</a></li> -->
       <!-- Dropdown menu for COntact -->
       <li class = "dropdown">
        <span>Forms</span>
        <ul class="dropdown-menu">
          <li><a routerLink = "/contact">Template Form</a></li>
          <li><a routerLink = "/trainee">Two Way Data Binindg</a></li>
          <li><a routerLink = "/auth">Reactive Forms</a></li>
        </ul>
       </li>
    </ul>
  </nav>

  <main class = "main-content">

    <router-outlet></router-outlet>
  </main>

  <footer class = "myfooter">
    <p>&copy; 2025 Coforge Ltd.</p>
  </footer>

</div>

